                    //--------------Global Variable-----------------//
$white:#ffffff;
$highlight: #009BFF;
$background:#f2f1f8;
$dark_grey: #3f3d4e;

                    //--------------Global Style-----------------//
*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width:1440px;
    max-width:90%;
    margin: 0 auto;
}
.button{
    border:none;
    outline:none;
    border-radius: 2rem;
    padding: .7rem 4rem;
    font-weight: 700;
    color:$white;
    text-decoration: none;
}
.button_highlight {
    background: $highlight;
}
.button_secondary {
    background: rgba(250,250,250, 0.25);
}
.button_small{
    padding: .3rem 1.5rem;
}
.button_large{
    padding: 1rem 5rem;
    font-size: 1.35rem;
}
a{
    text-decoration: none;
}
.cf:after,
.cf:before{
    content: "";
    display: table;
}
.cf:after{
    clear: both;
}
                //--------------Banner Style-----------------//
#banner{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    header{
        padding: 2rem 0;
    }
#logo{
    color: $white;
    font-weight: 700;
    font-size: 1.35rem;
    float:left;
    margin:0;
  }
  nav{
      float: right;
      a{
          color: $white;
          font-weight: 700;
          font-size: 1.35rem;
          text-decoration: none;
          margin-left: 2rem;
      }
  }
  .content{
      padding: 4rem 0 8rem 0;
    .title, .subtitle {
        color:$white;
        text-align: center;
    }
    .title{
        font-size:3.5rem;
        margin:0;
    }
    .subtitle{
        font-size: 1.35rem;
        font-weight: 400;
        width: 500px;
        margin:0 auto 2rem auto;
        line-height: 1.75rem;
    }
    .button_wrapper{
        text-align: center;
        margin: 3rem 0;
        .button{
            margin: 0 .75rem;
        }
    }
  }

}

//--------------Service Style-----------//
#services{
    background: $background;
    padding: 2rem 0 6.5rem 0;
    position: relative;
    .service{
        background: $white;
        width: 31%;
        float: left;
        margin: -5rem 1% 0 1%;
        padding: 4rem 2%;
        text-align: center;
        position: relative;
        box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
        -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
        -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
        border-radius: .35rem;
        h3{
            margin: 0;
            font-size: 1.5rem;
            color:$dark_grey;
        }
        p{
            margin: 0 0 2rem 0;
            color: $dark_grey;
        }
        .button{
            padding: .5rem 2rem;
        }
        &:after{
            content:"";
            position: absolute;
            left:50%;
            bottom:-50px;
            height: 50px;
            border-left:2px solid #c9c7d3;
        }
    }
    .middle{
        &:after{
            bottom:-105px;
            height: 105px;
        }
    }
    &:before {
        content:" ";
        position: absolute;
        left:50%;
        bottom:54px;
        border-top: 2px solid #c9c7d3;
        width: 59.5%;
        margin-left: -30.1%;
    }
}
 //--------------Past Work Style-----------------//
 #past_work{
     background: $dark_grey;
     padding: 5rem 0 25rem 0;
     text-align: center;
     position: relative;
     overflow: hidden;
     .title{
         color:$white;
         font-size: 2.5rem;
         margin: 0 0 .75rem 0;
     }
     #slider_buttons{
         list-style: none;
         padding: 0;
         margin: 2rem 0;
         li{
             width: 9px;
             height: 9px;
             margin: 0 .5rem;
             position: relative;
             border-radius: 100%;
             display: inline-block;
             background-color: #5b596e;
             transition: background .4s ease-in;
            &:hover{
                background: $highlight;
            }
            }
            .current{
                background-color:$highlight;
            }

     }
     #slider{
         list-style: none;
         
         li{
             width: 600px;
             height:375px;
             overflow: hidden;
             background-color: $white;
             box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
             -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
             -mox-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
             position: absolute;
             z-index: 3;
             border-radius: .5rem .5rem 0 0;
             img{
                 width:100%;
             } 
             &:nth-child(1){
                 bottom: -30px;
                 left: 0;
                 -webkit-transform:scale(.8, .8);
                 -moz-transform:scale(.8, .8);
                 transform:scale(.8, .8);
                 z-index: 2;
             }
             &:nth-child(2){
                left: 50%;
                margin-left: -300px;
                z-index: 4;
                bottom:0;
            }
             &:nth-child(3){
                bottom: -37px;
                right: 0;
                -webkit-transform:scale(.8, .8);
                -moz-transform:scale(.8, .8);
                transform:scale(.8, .8);
                z-index: 2;
            }
        }
     }
    }
    //----------------Contact Style-----------------//
    #contact{
        background: $background;
        padding: 6rem 0 8rem 0;
        text-align: center;
        .title{
            font-size: 2.5rem;
            color: $dark_grey;
            margin: 0;
        }
        .subtitle{
            font-size:1.5rem;
            color:#6b6979;
            width: 600px;
            max-width: 100%;
            display: block;
            margin: 0 auto 3rem auto;
        }
    }
    footer{
        padding: 1rem 0;
        .copyright{
            text-align: center;
            font-weight: 700;
            color:#6b6979;
            a{
                color:$highlight;
            } 
        }
    }